:root {
  --bg-main: #0B0F14 ;
  --bg-section: #121820;
  --bg-card: #171F2A;

  --accent-orange-red: #D13704;
  --accent-orange-red-hover: #F04A12;

  --text-main: #F5F5F5;
  --text-muted: #A7ADB8;

  --border-dark: #2A2A35;

  --seat-available: #2DD4BF;
  --seat-selected: #D13704 ;
  --seat-unavailable: #3F1D24;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.footer{
    margin-top: 150px !important;
    width:100% !important;
    padding: 100px 15%;
    background: var(--bg-section);
    color: var(--text-main);
    display: flex;
}

.footer div{
    text-align: center;
}

.col-2{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color: var(--text-main);
    margin-bottom: 10px;
}

form input{
    border: 2px solid var(--accent-orange-red);
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid var(--accent-orange-red);
    color: var(--text-main);
    border-radius: 30px;
    padding: 10px 30px; 
    font-size: 15px;
    cursor: pointer;
}

.social-icons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.social-icons i{
    display: inline-block !important;
    font-size: 22px !important;
    margin: 10px;
    cursor: pointer;
}