:root {
  --bg-main: #0B0F14 ;
  --bg-section: #121820;
  --bg-card: #171F2A;

  --accent-orange-red: #D13704;
  --accent-orange-red-hover: #F04A12;

  --text-main: #F5F5F5;
  --text-muted: #A7ADB8;

  --border-dark: #2A2A35;

  --seat-available: #2DD4BF;
  --seat-selected: #D13704 ;
  --seat-unavailable: #3F1D24;
}

.movie-description {
    color: var(--text-muted) !important;
}

.badge {
    background-color: var(--accent-orange-red);
    color: var(--text-main);
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 77.5%; 
    position: relative;
    height: 0;
    border-radius: 12px;  
    border: 1px solid var(--accent-orange-red);
}

/* Forces the inner iframe to completely fill up the dynamic container */
.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.btn-lumiere{
    background-color: var(--accent-orange-red) !important ; 
    border: none;
}

.showtime-pill {
    background-color: var(--bg-main) !important;
    border: 1px solid var(--accent-orange-red) !important;
    color: var(--text-main) !important;
    padding: 9px 16px !important;
    border-radius: 8px !important;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.showtime-pill:hover {
    border-color: var(--accent-orange-red-hover) !important; /* Highlights red on hover */
    cursor: pointer;
    transform: translateY(-2px);
}

.showtime-pill .text-muted {
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: var(--text-muted) !important;
}
