/* :root {
  --bg-main: #08080C;
  --bg-section: #15151C;
  --bg-card: #111827;

  --accent-red: #E50914;
  --accent-red-hover: #FF1E2D;

  --text-main: #F5F5F5;
  --text-muted: #A1A1AA;

  --border-dark: #2A2A35;

  --seat-available: #2DD4BF;
  --seat-selected: #E50914;
  --seat-unavailable: #3F1D24;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #000000;  
    border-bottom: 1px solid var(--border-dark);
}

.navbar-brand {
    color:red;
}

.navbar-brand:hover {
  color: white;
}

.page-title {
    color: var(--text-main);
    font-size: 2rem;
}

.search form {
    display:flex;
    align-items: center;
    border: 2px;
    border-radius: 20px;
    overflow: hidden;
}

.search input[type="text"] {
    border: none;
    padding: 8px 15px;
    outline: none;
    width: 200px;
}

.search button {
    border: none;
    background: transparent;
    padding: 8px 15px;
    cursor: pointer;
    color: #333;
    transition: color 0.2s;
}

.search button:hover {
    color: red;
}

.navbar-brand{
    color: red;
} */
